Package: sample-app
Version: 1.0
Architecture: any
Maintainer: Mbed Linux OS team <mbed-linux-team@arm.com>
Section: base
Priority: optional
Description: This package includes user sample "Hello world" application.
