[Unit]
Description=Test service
After=network.target
StartLimitIntervalSec=0

[Service]
ExecStart=/opt/arm/wdog-test.sh
WatchdogSec=5
TimeoutSec=15

[Install]
WantedBy=multi-user.target
